@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import
url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');



/*Doing a three color scheme
magenta #ff33aa
blue #33aaff
green #33ffaa

*/

/*Default settings are the asterisk*/
* {
	margin: 0;
	padding: 0;
	font-family: "Roboto","sans-serif";
	font-size: 12pt;
}

/*Nav Stuff */


nav, nav ul {
	background-color: #ff33aa;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style:none;
}

nav ul li {
	padding:20px;
	border-bottom: 4px solid #ff33aa;
}

nav ul li:hover {
	border-bottom: 4px solid #33aaff;
}

nav img {
	width: 50px;
}




/*Link editing */
a {
	text-decoration: none;
	color: black;
	font-weight: 700;
	
}


/*Main stuff with articles */

main {
	width: 80%;
	margin: auto;
}

article h1, article h2 {
	text-align: center;
	font-size: 36pt;
	padding: 10px;
}

article h2 {
	font-size: 18pt;
}

section {
	animation: mymove 10s infinite;
	margin: 20px auto;
	height: 500px;
}

@keyframes mymove {
	0%, 100% {
		background-image: url("https://media3.giphy.com/media/UtVjgQuWRwyIUuZA2Y/giphy.gif?cid=ecf05e47aglqhh73stf232egmeh2ftjoobnhiewisgts8oks&rid=giphy.gif&ct=g");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	25% {
		background-image: url("https://media4.giphy.com/media/f74WQIhbzBKAusL2v1/giphy.gif?cid=ecf05e470d22t0dpeufrr0hrb2608zmaciuzmd3f1s0xtsx5&rid=giphy.gif&ct=g");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	50% {
		background-image: url("https://media0.giphy.com/media/PjJ1cLHqLEveXysGDB/giphy.gif?cid=ecf05e470d22t0dpeufrr0hrb2608zmaciuzmd3f1s0xtsx5&rid=giphy.gif&ct=g");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	75% {
		background-image: url("https://media2.giphy.com/media/gAVUaC0JZInb9twQX5/giphy.gif?cid=790b761135e8168621f735acf2eaf4ec632b5d3fa02bb763&rid=giphy.gif&ct=g");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	
}


/*Media for screen responsiveness with mobile phones */


